<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

    <div>
        <h1 style="text-align: center; color: rgb(0, 0, 0);">Sistema Company Jóias</h1>
    </div>
    <div>
      <img src="/imgs/home-bammer.jpg" width="100%" height="800px">
    </div>

<%- include('partials/footer.ejs') %>